@import 'normalize.css';

:root {
    --primary: #1dbfaf;
    --text-color: #333;
    --black: #000;
    --white: #fff;
    --header-height: 70px;
    --font-family: 'ForumFont', 'san-serif';
    // Default Layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    overflow-y: overlay;
}

@font-face {
    font-family: ForumFont;
    src: url('/assets/fonts/ForumFont-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: ForumFont;
    src: url('/assets/fonts/ForumFont-Semibold.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: ForumFont;
    src: url('/assets/fonts/ForumFont-Bold.woff2') format('woff2');
    font-weight: 700;
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}

span {
    display: block;
    min-width: 20px;
}

@media (min-width: 1024px) {
    html *::-webkit-scrollbar {
        border-radius: 0;
        width: 8px;
        height: 8px;
    }

    html *::-webkit-scrollbar-thumb {
        background: #d9d9d9;
        border-radius: 6px;
    }

    html *::-webkit-scrollbar-track {
        background: transparent; /* Màu nền track */
    }
}
