.wrapper {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.navbar,
.languages,
.other {
    border-right: 2px solid #999;
    border-bottom: 2px solid #999;
}

.navList,
.languageList,
.otherList {
    list-style: none;
    padding-left: 0;
    margin: 12px;
}

.navItem,
.languageItem,
.otherItem {
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    padding: 16px 20px;
    border-radius: 10px;

    svg {
        width: 40px;
        margin-right: 12px;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.09);
        cursor: pointer;
    }
}

.title {
    display: block;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 16px 0 0 12px;
    color: var(--text-color);
}
