.wrapper {
    background-color: #f1f1f1;
    height: 100vh;
    display: flex;
    align-items: center;
}

.register,
.login {
    display: flex;
    border-radius: 8px;
    overflow: hidden;
}

.registerLogo,
.registerContent {
    background-color: #fff;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img {
    width: 100%;
}

.form {
    width: 360px;
    min-height: 100px;
    padding: 32px 24px;
    text-align: center;
    background: #fff;
    border-radius: 2px;
    margin: 24px 0;
    align-self: center;
    box-shadow: 0 4px 6px 0 rgba(51, 62, 73, 0.3);
}

.registerContent .form:has(.formGroup.invalid) {
    padding: 4px 24px;
    margin: 0;
}

.form .heading {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
}
.form .desc {
    text-align: center;
    color: #636d77;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    margin-top: 16px;
    font-weight: 300;
}

.formGroup {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
}

.formLabel,
.formMessage {
    text-align: left;
}

.formLabel {
    font-weight: 700;
    padding-bottom: 6px;
    line-height: 1.8rem;
    font-size: 1.4rem;
}

.formControl {
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
    font-size: 1.4rem;
}

.formControl:hover {
    border-color: var(--primary);
}

.formGroup.invalid .formControl {
    border-color: #f33a58;
}

.formGroup.invalid .formMessage {
    color: #f33a58;
}

.formMessage {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 4px 0 0;
}

.link {
    padding: 4px;
    display: flex;
    justify-content: space-between;

    .link-forgot,
    .link-register,
    .link-login {
        font-weight: 400;
        font-size: 1.4rem;
        text-decoration: none;
        color: var(--text-color);
    }

    :hover {
        color: var(--primary);
        cursor: pointer;
        opacity: 0.8;
    }
}

.formSubmit {
    outline: none;
    background-color: var(--primary);
    margin-top: 12px;
    padding: 12px 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
}

.formSubmit:hover {
    opacity: 0.8;
}

.spacer {
    margin-top: 36px;
}
